.session {
	display: flex;
	flex-direction: column;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.notice_board_top {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 40px;
}

.notice_board_top>button {
	cursor: pointer;
	width: 120px;
	height: 50px;
	font-size: 20px;
	border-radius: 15px;
	background-color: #1785F2;
	color: white;
}

.notice_board_mid {
	width: 100%;
	height: 100%;
	margin: 40px auto;
}

.nbm {
	display: flex;
	height: 50px;
}

.nbm_number {
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nbm_title {
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nbm_name {
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nbm_text {
	width: 350px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.nbm_count {
	width: 150px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.delete_update {
	display: flex;
	width: 250px;
	height: 50px;
	align-items: center;
	gap: 15px;
}

.update {
	background-color: #2FC600;
}

.delete {
	background-color: #E60A2F;
}

.delete, .update {
	width: 100px;
	height: 40px;
	font-size: 20px;
	border-radius: 15px;
	color: white;
}

.nbm_title>p, .nbm_title>a, .nbm_text>p, .nbm_name>p, .nbm_number>p,
	.nbm_count>p {
	font-size: 20px;
}